/* GLOBAL */
html
  font-family: monospace
  background-color: black
  color: white
  h1
    text-align: center
td, th
  width: 40px
  height: 40px
  text-align: center
  font-size: 20px


/* DIAMOND GRID */
#diamondGrid
  td
    border: 1px solid white
    width: 20px
    height: 20px
    font-size: 14px
  .syndrome
    color: white
  .link
    background-color: darken(grey, 20%)
  .mid
    background-color: black
  .linked
    background-color: green
    transform: rotate(90deg)


/* GRID */
#grid, #clusterGrid
  td
    border: 1px solid white
  .highlight
    text-decoration: underline
    font-style: italic
  .selected
    font-size: 16px


/* COLORS */
.group0
  background-color: maroon
.group1
  background-color: red
.group2
  background-color: orange
.group3
  background-color: navy
.group4
  background-color: olive
.group5
  background-color: green
.group6
  background-color: purple
.group7
  background-color: fuchsia
.group8
  background-color: lime
.group9
  background-color: teal
.group10
  background-color: aqua
.group11
  background-color: blue
.group12
  background-color: orange
  font-style: italic
.group13
  background-color: navy
  font-style: italic
.group14
  background-color: olive
  font-style: italic
.group15
  background-color: green
  font-style: italic
.group16
  background-color: purple
  font-style: italic
.group17
  background-color: fuchsia
  font-style: italic
.group18
  background-color: lime
  font-style: italic
.group19
  background-color: teal
  font-style: italic
.group20
  background-color: aqua
  font-style: italic
.group21
  background-color: blue
  font-style: italic


/* CONTROLS */
#controls
  text-align: center


/* CLUSTERS */
#clusters
  td
    text-align: left
    font-size: 15px
