/* GLOBAL */
html {
  font-family: monospace;
  background-color: black;
  color: white; }
  html h1 {
    text-align: center; }

td, th {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 20px; }

/* DIAMOND GRID */
#grid {
  margin-left: auto;
  margin-right: auto; }
  #grid td {
    border: 0px solid white;
    border-radius: 8px;
    width: 25px;
    height: 25px;
    font-size: 18px; }
  #grid .syndrome {
    background-color: red;
    color: white; }
  #grid .link {
    background-color: black;
    color: #737373;
    font-weight: bold; }
  #grid .mid {
    background-color: black; }
  #grid .linked {
    transform: rotate(90deg); }

/* RESULTS */
#results {
  width: 100%; }
  #results td, #results th {
    font-size: 15px; }

/* COLORS */
.group0 {
  background-color: maroon; }

.group1 {
  background-color: red; }

.group2 {
  background-color: orange; }

.group3 {
  background-color: navy; }

.group4 {
  background-color: olive; }

.group5 {
  background-color: green; }

.group6 {
  background-color: purple; }

.group7 {
  background-color: magenta; }

.group8 {
  background-color: lime; }

.group9 {
  background-color: teal; }

.group10 {
  background-color: cyan; }

.group11 {
  background-color: blue; }

.group12 {
  background-color: orange;
  font-style: italic; }

.group13 {
  background-color: navy;
  font-style: italic; }

.group14 {
  background-color: olive;
  font-style: italic; }

.group15 {
  background-color: green;
  font-style: italic; }

.group16 {
  background-color: purple;
  font-style: italic; }

.group17 {
  background-color: magenta;
  font-style: italic; }

.group18 {
  background-color: lime;
  font-style: italic; }

.group19 {
  background-color: teal;
  font-style: italic; }

.group20 {
  background-color: cyan;
  font-style: italic; }

.group21 {
  background-color: blue;
  font-style: italic; }

/* CONTROLS */
#controls {
  text-align: center; }

/* CLUSTERS */
#clusters td {
  text-align: left;
  font-size: 15px; }
