/* GLOBAL */
html {
  font-family: monospace; }
  html h1 {
    text-decoration: underline;
    text-align: center; }

td, th {
  width: 25px;
  height: 25px;
  text-align: center; }

/* GRID */
#maze {
  width: 450px;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  #maze #grid {
    padding-bottom: 20px;
    text-align: center;
    color: white; }
    #maze #grid .wall {
      background-color: black; }
    #maze #grid .start {
      background-color: green; }
    #maze #grid .finish {
      background-color: red; }
    #maze #grid .path {
      background-color: green; }

/* CONTROLS */
#controls {
  width: 100%;
  text-align: center;
  padding-bottom: 20px; }
  #controls #userpath {
    font-size: 14px;
    width: 360px;
    background-color: gray;
    color: white;
    border-radius: 5px; }
  #controls button {
    background-color: green;
    color: white;
    border-radius: 5px;
    font-size: 12px; }

/* RESULTS */
#results {
  width: 100%; }
  #results td, #results th {
    border: 1px solid gray; }
